.carusel-contect{
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 120px;
    padding-bottom: 50px;
}
.carusel-title{
    color: rgb(251, 119, 96);
    font-size: 90px;
}
.carusel-caption{
    font-size: 30px;
    letter-spacing: .15rem;
}
.explore-btn{
    background-color:#87b106;
    color: white;
    padding: 10px 40px;
    border: none;
    transition: .5s;
    font-weight: bold;
    letter-spacing: .1rem;
}
.explore-btn:hover{
    background-color: #779c06;
    padding: 10px 50px;
}